<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        /* *{
            height: 100%;
            padding: 0;
            margin: 0;
        } */
        #user-number, #complaints-number{
            width: 140px;
            height: 110px;
            background-color: aqua;
            color: antiquewhite;
            font-size: medium;
            padding: 12px;
            margin: 0;
            margin: 26px;
            color: blue;
        }
        #numbers{
            width: 95%;
            background-color: rgba(163, 202, 238, 0.795);

        }
        #manage-other{
            height: 93%;
            background-color: azure;
            padding-top: 35px;
            width: 7%;
            /* display: inline-block;
            vertical-align: top; */
        }
        #project-info{
            display: flex;
            height: 100%;
        }
        .menu-items{
            width: 46px;
            height: 46px;
            margin: 22px;
        }
        #manage-other:hover{
            width: 10%;
            height: 100%;
            background-color: aqua;
            color: rgb(26, 46, 224);
        }
        .menu-items:hover{
            background-color:transparent;
            width: 55px;
            height: 55px;
            
        }
        #important-numbers{
            display: flex;
            height: 80px;
            margin: 6px;
            padding: 6px;
        }
        #announcement-form{
            display: flex;
        }
        i{
            font-size: xx-larger;
            font-style: italic;
            font-size: 33px;
        }
        i:hover{
            font-size: 53px;
            color:rgb(127, 99, 202)
        }
        #navigator{
            display: flex;
            justify-content: space-evenly;
            height: 10%;
            width: 96%;
            background-color: aqua;
        }
        #navigator a{
            text-decoration: none;
            margin: 5px 5px 0 5px;
            padding: 3px 3px 0 3px;

        }
        #manage-other a{
            text-decoration: none;
            color: black;
        }
        i{
            color: black;
        }
        #announcement-form form{
            display: inline;
        }
        .texts, .input-image{
            margin: 0 0 32px 0;
        }
        form{
            padding: 0 0 0 40px;
        }
       
        input[type=file]::file-selector-button{
            background-color: transparent;
            margin: 0;
            border: 0 transparent;
            cursor: pointer;
            color: transparent;
        }
        input[type=file]{
            background-color: rgba(6, 6, 252, 0.582);
            cursor: pointer;

            /* margin: 0;
            border: 0 transparent;
            cursor: pointer;
            color: transparent; */
        }
        .file-label{
            background-color: darkgoldenrod;
        }
        /* .input-image{
            color: snow;
            display: block;
            margin-left: 10px;
        
            &::file-selector-button {
                @include button{ blue, white}
                &:hover{
                    background-color: snow;
                    border: 2px blue;
                    color: blue;
                }
            }
        } */

        .custom-file-upload{
            background-color: snow;
            border: 2px blue;
            color: blue;
        }
        #announcement-form{
            display: none
        }
        #each-anouncement{
            width: auto;
            height: auto;
            background-color: cornflowerblue;
            color: snow;
            padding: 12px;
            margin: 12px;
        }
        #announcement-list{
            overflow: scroll;
            scrollbar-color: blue;
        }

    </style>

</head>
<body>
<div id="project-info">
    <div id="manage-other">
        <div class="menu-items" href="" id="message-privately">
            <a href="/server/private-messages"><i class="bi bi-chat-dots"></i></a><br>
            <p class="info-title"></p>
        </div>
        <div class="menu-items" href="" id="complaints">
            <a href="/server/user-complaints"><i class="bi bi-envelope-exclamation-fill"></i></a><br>
            <p class="info-title"></p>
        </div>
        <div class="menu-items" href="" id="machine-learning">
            <a href="#"><i class="bi bi-robot"></i></a><br>
            <p class="info-title"></p>
        </div>
    </div>
    <div id="numbers">
        <div id="navigator">
            <a href="/server/users"> Users</a>
            <a href="#"> Chat traits</a>
            <a href="#"> Complaints</a>
        </div>
        <div id="announcement-list">
            <a href="#" onclick="newAnnouncement()">Add announcement</a>
            <% announcement.forEach(announce => { %>
                <div id="each-anouncement">
                    <p><%= announce._id %></p>
                    <p><%= announce.category %></p>
                    <p><%= announce.description %></p>
                    <div id="buttons">
                        <a href="/server/delete/<%= announce._id %>" onclick="alert('Saved successful')">Delete</a>
                    </div>
                </div>
            <% }); %>
        </div>
        <div id="announcement-form">
            <a href="#" onclick="allAnnouncement()">Announcements list</a>
            <form method="POST" enctype="multipart/form-data" action="/server/new-announcement" onsubmit="alert('item saved')" >
                <p>Category</p>
                <input class="texts" type="text" name="category" placeholder="announcement category"><br>
                <p>Enter media files</p>
                <input class="input-image" name="file" type="file" placeholder="images" title="this could be an image, a video or a GIF, any type of media"><br>
                <textarea class="texts" cols="90" name="description" placeholder="Add description about the announcement" rows="13"></textarea>
                <input type="submit">
            </form>
        </div>
    
    </div>
    
</div>
</body>
<script>
    function newAnnouncement(){
        document.getElementById("announcement-list").style.display = "none";
        document.getElementById("announcement-form").style.display = "inline";
    }
    function allAnnouncement(){
        document.getElementById("announcement-list").style.display = "inline";
        document.getElementById("announcement-form").style.display = "none";
    }
</script>
</html>
